@yellow: #FFC66D;
@orange: #CC7832;
@green: #629755;
@background-grey: #2B2B2B;

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.color-test {
  background-color: @yellow;
}