.navbar-container {
  background-color: @green;
  display: flex;
  max-width: 1024px;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid @green;

  .nav-bar-link-container {
    flex: 1;
    text-align: center;
    height: 72px;
    width: 72px;
    line-height: 72px;
    font-size: 18px;
    background-color: @background-grey;

    .link-font {
      color: @orange;
      text-decoration: none;
    }
  }

  .active-navbar-item {
    color: @yellow !important;
  }
}